.header {
	display: flex;
	flex-direction: row;
	padding: 20px calc(30px + 20vw);
	background-color: var(--bg-cell);
	width: 100%;
	position: fixed;
	border-bottom: 1px solid var(--border);
	z-index: 99;
	user-select: none;
}

.header section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.logo {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
	font-family: var(--font-vt323);
}

.logo img {
	height: 1em;
	width: 1em;
}

.logo span {
	font-size: 1.6rem;
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: none;
	text-rendering: geometricPrecision;
}

.version {
	color: var(--text-secondary);
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
	font-size: 0.7em;
}

.version:hover {
	color: var(--text-primary);
}

.header section:first-of-type {
	flex: 1;
	justify-content: start;
}

.header section:last-of-type {
	flex: 1;
	justify-content: end;
}

.buttons {
	gap: 15px;
}

.buttons button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	font-size: 0.7em;
}

@media (max-width: 1200px) {
	.header {
		padding: 20px calc(20px + 10vw);
	}
}

@media (max-width: 768px) {
	.header {
		padding: 20px 16px;
	}
}
