h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
	margin: unset;
}

button {
	background-color: unset;
	outline: unset;
	border: unset;
	font-size: inherit;
	color: inherit;
	padding: unset;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: var(--color-link);
}
