h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ul,
ol {
	margin: unset;
}

button {
	background-color: unset;
	outline: unset;
	border: unset;
	font-size: inherit;
	color: inherit;
	padding: unset;
	cursor: pointer;
}

input {
	outline: none;
}

a {
	text-decoration: none;
	color: var(--color-link);
}

code {
	background-color: var(--bg-page);
	padding: 0 5px;
	border: 1px solid var(--border);
	border-radius: 8px;
}

table {
	border-collapse: collapse;
	font-size: 0.875rem;
}

img {
	width: 100%;
}

th,
td {
	text-align: left;
	padding: 5px;
	border: 1px solid var(--border);
}

th {
	font-weight: bold;
	background-color: var(--bg-page);
}
