@import "./theme.css";
@import "./globals.css";

:root {
	--sans: system-ui, "Segoe UI", Roboto, sans-serif;
	--heading: system-ui, "Segoe UI", Roboto, sans-serif;
	--mono: ui-monospace, Consolas, monospace;

	font: 18px / 145% var(--sans);
	letter-spacing: 0.18px;
	color: var(--text-primary);
	background: var(--bg-page);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: var(--bg-page);
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
