.page {
	margin: 100px 0;
	padding: 40px calc(30px + 20vw);
}

@media (max-width: 1200px) {
	.page {
		padding: 40px calc(20px + 10vw);
	}
}

@media (max-width: 768px) {
	.page {
		padding: 40px 16px;
	}
}
