.header {
	display: flex;
	justify-content: flex-end;
	margin: 0 20vw;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	background-color: var(--bg-cell);
	border-left: 5px solid var(--border);
}

.sheet {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 0 20vw;
	background-color: var(--bg-cell);
}
