.browserNotice {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.panel {
	display: flex;
	flex-direction: column;
	gap: 15px;
	background-color: var(--bg-cell);
	padding: 30px;
	border-radius: 8px;
	border: 1px solid var(--border);
	max-width: 700px;
}

.noticeHeader {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 2rem;
}

.logo {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
	font-family: var(--font-vt323), monospace;
}

.logo img {
	height: 1em;
	width: 1em;
}

.logo span {
	font-size: 1.6rem;
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: none;
	text-rendering: geometricPrecision;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.mobilePage {
	width: 100%;
	min-height: 100vh;
	background-color: var(--bg-cell);
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 30px;
}

.content button {
	width: fit-content;
	background-color: var(--color-highlight);
	border-radius: 8px;
	padding: 5px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}
