.sheet {
	display: flex;
	flex-direction: column;
	margin: 100px 20vw;
	background-color: var(--bg-cell);
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

@media (max-width: 1200px) {
	.sheet {
		margin: 100px 10vw;
	}
}

@media (max-width: 768px) {
	.sheet {
		margin: 100px 16px;
	}
}
